*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --hero--height:53px;
}
#navbar{
    overflow:hidden;
    background-color: #f2b716;
}
.hero{
    width: 100%;
    height:100vh;
    background: #ffffff;
}
nav{
    display: flex;
    width:84%;
    margin:auto;
    padding:20px 0px;
    align-items: center;
    justify-content:space-between;
} 

nav ul li{
    display:inline-block;
    list-style:none;
    margin:20px 30px;
}
nav ul li a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    font-weight:bold;
}
nav ul li a:hover{
    font-family: "Roboto Slab", serif;
    font-size:20px;
    color:rgb(0, 0, 0);
}
.container{
    margin-left:8%;
    margin-top:12%;
}
.container h1{
    font-size:50px;
    color:black;
    margin-bottom:20px;
}
span{
    color:rgb(255, 242, 63);
}
.container p{
    color:black;
    line-height: 24px;
}
.container a{
    background: #000;
    padding:10px 18px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    display:inline-block;
    margin:30px 0;
    border-radius:7px;
}
.container a:hover{
    background-color:rgb(255, 242, 63);
    color:#000000;
    cursor: pointer;
}
.images{
    width: 45%;
    height: 80%;
    position:absolute;
    bottom: 0;
    right:100px;
}
.images img{
    height:100%;
    position:absolute;
    left: 50%;
    bottom:0;
    transform:translateX(-50%);
    transition:bottom 1s,left 1s;
}
.images:hover .shape{
    bottom:40px;
}
.images:hover .girl{
    left:45%;
}
#about{
    background: url('../url.html/bg2nd.jpg') no-repeat center center/cover;
    width:100%;
    height:100%;
}
/*
#container-about{
    background-color: red;
    width:1000px;
    max-width:60%;
    margin:15px 0px;
    display:flex;
    justify-content: space-around;
}
#container-about h1{
    font-family: "Playfair Display", serif;
    font-size:28px;
    color:rgb(255, 242, 63);
    margin-bottom:10px;
}
#container-about h2{
    font-family: "Playfair Display", serif;
    font-size:22px;
    color:rgb(255, 242, 63);
    margin-bottom:10px;
}*/
.detel{
    margin-left:50%;
    margin-top:0%;
    align-items: center;
    justify-content: space-around;
}
.detel h1{
    font-size:58px;
    color:black;
    margin-bottom:20px;
}
.detel p{
    font-family: "Playfair Display", serif;
    color:black;
    line-height:24px;
}
#PORTFOLIO{
    display:flex;
}
.port{
    margin-left:8%;
    margin-top:10%;
}
.port h1{
    font-size:45px;
    color:rgb(255, 242, 63);
    margin-bottom:14px;
}
.port h2{
    font-size:40px;
    color:rgb(255, 242, 63);
    margin-bottom:14px;
}
.port p{
    color:black;
    line-height: 20px;
}
.images2{
    display:flex;
    margin-left:20%;
    margin-top:0%;
}
#contact{
    position: relative;
    width:100%;
    height:450px;
    background: url('../url.html/bg4.jpg') no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.contact-me h1{
    color:rgb(255, 242, 63);
    font-size:30px;
    margin-left:50%;
    margin-top:13%;
}
.contact-me p{
    color:rgb(249, 232, 38);
    margin-left:30px;
    font-size: 25px;
    line-height:24px;
}
.contact-me a{
    background: #f7d40c;
    padding:10px 18px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    display:inline-block;
    margin:30px 0;
    border-radius:7px;
}
.contact-me b{
    background: #847106;
    padding:10px 18px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    display:inline-block;
    margin:30px 0;
    border-radius:7px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.social{
    display:flex;
}
.social a{
    width:45px;
    height: 45px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #f7c00c;
    border-radius: 50%;
    margin:22px 10px;
}
.center{
    text-align: center;
}